@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("../font/Poppins/style.css");

* {
   @apply p-0 m-0 box-border;
}
body {
   @apply font-Poppins text-sm md:text-base text-gray-300/50;
}

html {
   scroll-behavior: smooth;
}

.table-data-design {
   @apply text-xs md:text-md 2xl:text-base text-gray-400 first:text-white last:text-green-500 text-center first:text-left even:bg-gray-800 group-first:rounded-t-2xl group-last:rounded-b-2xl 2xl:py-[23px] py-6 md:py-5 lg:py-4 xl:group-first:pt-12 lg:group-first:pt-10 group-first:pt-12 xl:group-last:pb-10 lg:group-last:pb-8 group-last:pb-6 border-b border-gray-300/20 group-last:border-b-0;
}

.animate-spin {
   animation-duration: 10s;
}

.text-lenear {
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

.stroke-text {
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-stroke-width: 4px;
   -webkit-text-stroke-color: transparent;
   color: black;
}

.animation-light-skew-one {
   animation-name: movement;
   animation-duration: 10s;
   animation-timing-function: ease-out;
   animation-iteration-count: infinite;
}
.animation-light-skew-two {
   animation-name: movement;
   animation-duration: 10s;
   animation-delay: 1s;
   animation-timing-function: linear;
   animation-iteration-count: infinite;
}
.animation-light-skew-three {
   animation-name: movement;
   animation-duration: 10s;
   animation-delay: 2s;
   animation-timing-function: ease-in;
   animation-iteration-count: infinite;
}

@keyframes movement {
   0% {
      transform: translatex(0px);
   }
   50% {
      transform: translateX(150px);
   }
   100% {
      transform: translateX(0px);
   }
}

.animation-light {
   animation-name: movements;
   animation-duration: 10s;
   animation-delay: 1s;
   animation-timing-function: ease-in;
   animation-iteration-count: infinite;
}

@keyframes movements {
   0% {
      transform: translatex(-1000px);
   }
   50% {
      transform: translateX(1000px);
   }
   100% {
      transform: translatex(-1000px);
   }
}
